<div class="container-fluid mt-2 mb-2">
    <h3>प्रधानाचार्य</h3>
    <div class="row">        
        <div class="col-md-3" *ngFor="let image of images1">
            <div class="card mb-4">
                <img [src]="image.url" class="card-img-top imageStyle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ image.title }}</h5>
                    <p class="card-text">{{ image.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <h3>अध्यापक</h3>
    <div class="row">
        <div class="col-md-3" *ngFor="let image of images2">
            <div class="card mb-4">
                <img [src]="image.url" class="card-img-top imageStyle" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ image.title }}</h5>
                    <p class="card-text">{{ image.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>