<div class="container-fluid p-2">
    <h3 class="font-weight-bold">प्रधानाध्यापक कार्य काल अवधि</h3><hr>
    <div class="row">        
        <div class="col-md-3" *ngFor="let image of images1">
            <div class="card mb-4">
                <img [src]="image.url" class="card-img-top imageStyle" alt="...">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ image.title }}</h5>
                    <p class="card-text text-success">{{ image.description }}</p>
                    <p class="card-text">{{ image.duration }}</p>
                </div>
            </div>
        </div>
    </div>
</div>