.outerStyle{
    
    padding: 5px;
    background-color: yellow;
}
.cardStyle{
    border-radius: 5px;
    padding: 2px;
    border: 3px;
    border-color: black;
    width: 18rem;
    height: 18rem;
}