<div class="container-fluid">
  <div class="sticky-top bgColor">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="textStyle">!! प्राथमिक विद्यालय चकिया प्रथम वि. क्षे. चकिया जनपद-चंदौली !!</p>
      </div>
    </div>
    <!--Navbar start-->
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <nav class="navbar navbar-expand-sm  navbar-dark">
          <!-- Brand/logo -->
          <a class="navbar-brand" routerLink="/">
            <img src="assets/logos/logo.jpg" class="logoStyle" alt="logo1">
          </a>

          <!-- Toggler button for mobile view -->
          <button class="navbar-toggler toggleButton" type="button" data-toggle="collapse" data-target="#navbarMenu"
            aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navbar links -->
          <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav text-right col-md-12">
              <li class="active col-md-2">
                <a class="text-decoration-none font-weight-bold" routerLink="/">मुख्य पृष्ठ</a>
              </li>
              <li class="dropdown col-md-2 text-primary">
                <a data-toggle="dropdown" class="text-decoration-none font-weight-bold" routerLink="staffs">स्टाफ़</a>
                <!-- class="dropdown-toggle"  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Page 1-1</a></li>
                  <li><a href="#">Page 1-2</a></li>
                  <li><a href="#">Page 1-3</a></li>
                </ul> -->
              </li>
              <li class="col-md-2 text-primary"><a class="text-decoration-none font-weight-bold"
                  routerLink="student">विद्यार्थी</a></li>
              <li class="col-md-2 text-primary"><a class="text-decoration-none font-weight-bold"
                  routerLink="photos">गैलरी</a></li>
              <li class="col-md-2 text-primary"><a class="text-decoration-none font-weight-bold"
                  routerLink="contacts">संपर्क सूत्र</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!--Navbar End-->
  <!-- carousel start-->

  <div class="row">
    <div id="controlPic" class="carousel slide col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#controlPic" data-slide-to="0" class="active"></li>
        <li data-target="#controlPic" data-slide-to="1"></li>
        <li data-target="#controlPic" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/carouselImage/pic1.jpg" class="d-block imgStyle" alt="pic1">
          <div class="carousel-caption d-none d-block">
            <h2 class="badge badge-primary text-wrap p-1">विद्यालय परिसर</h2>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/carouselImage/pic2.jpg" class="d-block imgStyle" alt="pic2">
          <div class="carousel-caption d-none d-block">
            <h2 class="badge badge-primary text-wrap p-1">प्रार्थना स्थल</h2>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/carouselImage/pic3.jpeg" class="d-block imgStyle" alt="pic3">
          <div class="carousel-caption d-none d-block">
            <h2 class="badge badge-primary text-wrap p-1">शिक्षक दिवस समारोह</h2>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#controlPic" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#controlPic" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>
  </div>

  <!--carousel end-->

  <!-- Latest NEWS start-->
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <marquee class="newsStyle" direction="left" scrolldelay="100" behavior="alternate">
        <span class="star">★</span>अभी वेबसाइट बनाने की प्रक्रिया चल रही है.
      </marquee>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- Latest NEWS End-->

  <!--Footer Start-->
  <hr>
  <div class="row">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <h6 class="font-weight-bold">त्वरित लिंक</h6>
      <a routerLink="/">
        <img src="assets/logos/logo.jpg" class="d-block logoFooter" alt="logo1">
      </a>
      <p class="font-weight-bold p-1">फोन नंबर :</p>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <h6 class="font-weight-bold">त्वरित लिंक</h6>
      <ul class="list-inline">
        <li><a class="text-decoration-none" routerLink="/">मुख्य पृष्ठ</a></li>
        <li><a class="text-decoration-none" routerLink="photos">गैलरी</a></li>
        <li><a class="text-decoration-none" routerLink="contacts">संपर्क सूत्र</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <h6 class="font-weight-bold">त्वरित लिंक</h6>
      <p>Map:</p>
    </div>
  </div>
  <!-- Footer End-->
  <div class="row bg-secondary">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <p class="copyright">
        Copyright ©
        <script>document.write(new Date().getFullYear());</script>2024 All rights reserved.
      </p>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-md-right">
      Developed by Raj Kiran
    </div>
  </div>
</div>