<div class="container">
    <div class="row pt-2 pb-2">
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur repellat nobis inventore sit
                quibusdam nam laudantium, officia tempora ipsam repellendus sapiente commodi ex dolore sed quo quam,
                culpa quas accusamus neque atque incidunt totam. Officiis ipsam necessitatibus fuga laudantium inventore
                optio nulla impedit earum exercitationem dicta. Repellat, molestiae, itaque nulla nisi placeat delectus
                quis natus dolor eius deleniti animi libero facere nesciunt ad. Commodi ipsam ratione quidem vel quos
                harum laudantium neque dicta! Sit sed ex autem corporis fugit nulla debitis nobis voluptate unde commodi
                dolorum ut, necessitatibus aut? Veritatis suscipit exercitationem numquam saepe dolor ipsa voluptatibus,
                aperiam molestias porro!</p>
        </div>
        <div class="col-md-6">
            <img src="../../assets/carouselImage/car4.jpg" class="img-fluid" alt="pic3">
        </div>
    </div>
</div>