<div class="container-fluid pt-4">
    <p class="textHeading">हमारे बारे में</p>
    <hr>
    <div class="row pb-2">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="textStyle">प्राथमिक विद्यालय चकिया प्रथम की स्थापना देश स्वतन्त्र होने से पूर्व महाराज काशी नरेश जू द्वारा सन् 1930
                में स्थापित किया गया है। सन् 1947 में देश स्वतन्त्र होने पर महाराज द्वारा भारत सरकार को समर्पित किया।
                विद्यालय के प्रस्तर की दीवारें आज भी विद्यालय के धरोहर की गवाही दें रहे है। विद्यालय अनवरत नये-नये आयाम
                को स्थापित करता रहा है। प्राथमिक विद्यालय चकिया प्रथम का भौतिक परिवेश उच्च कोटि का है। </p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="assets/mainPage/gatePic1.jpg" class="img-fluid imageStyle" alt="pic3">
        </div>
    </div>
    <p class="textHeading">उपलब्ध सुविधाएं</p>
    <hr>
    <div class="row pb-2">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="assets/mainPage/gatePic1.jpg" class="img-fluid imageStyle" alt="pic3">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="textStyle"> विद्यालय में पर्याप्त कक्षा-कक्ष, बालक-बालिकाओं के लिये अलग-अलग शौचालय, बच्चों को अतिरिक्त अध्ययन के
                लिये पुस्तकालय कम्प्यूटर कक्षा-कक्ष में बारह कम्प्यूटर
                संचालित है।, खेलकूद सामग्री एवं सांस्कृतिक कार्यक्रम के लिये पर्याप्त संसाधन एक अतिरिक्त कक्षा-कक्ष में
                संयोजित होता है। स्मार्ट क्लास इण्टरनेट की व्यवस्था सभी बच्चों को बैठने हेतु डेस्क बेंच की व्यवस्था
                स्मार्ट क्लास का नियमित संचालन, विद्यालय की साफ सफाई बच्चों एवं अभिभावक को आकर्षित करता रहता है।
                विद्यालय पौधों फूलो से हमेषा हरा-भरा एवं शिक्षकों की सक्रिय सहभागिता से निरन्तर आगे बढ़ रहा है। </p>
        </div>
    </div>
    <p class="textHeading">पुरस्कार</p>
    <hr>
    <div class="row pb-2">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="textStyle">विद्यालय को राज्य स्तर पर 2016 में विद्यालय पुरस्कार , 2018-19 में उत्कृष्ट विद्यालय पुरस्कार , 2021-22
                में मेरा विद्यालय मेरी पहचान पुरस्कार प्राप्त हुआ है। विद्यालय के प्रधानाध्यापक श्री राजेश कुमार पटेल
                एवं एस0एम0सी0 अध्यक्ष श्री मिठाई लाल को मुख्यमन्त्री द्वारा सम्मानित किया गया ।
                प्र0अ0 श्री राजेश कुमार पटेल को राज्य स्तर पर मुख्यमन्त्री द्वारा राज्य शिक्षक पुरस्कार से सम्मानित किया
                गया है। श्रीमती शालू कटियार वरिष्ठ सहायक अध्यापिका का भी विद्यालय के निरन्तर विकास में सराहनीय योग्यदान
                रहा है। विद्यालय निरन्तर विकास की तरफ अग्रसर है। </p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="assets/mainPage/gatePic1.jpg" class="img-fluid imageStyle" alt="pic3">
        </div>
    </div>
    <p class="textHeading">अतिरिक्त गतिविधियां</p>
    <hr>    
    <div class="row pb-2">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="assets/mainPage/gatePic1.jpg" class="img-fluid imageStyle" alt="pic3">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="textStyle">खेल कूद प्रतियोगिता, कब-बुलबुल (स्काउट-गाइड) में जिला मण्डल, प्रदेश स्तर पर बच्चों एवं अध्यापको को
                सम्मानित किया गया है। जिला, मण्डल, राज्य एवं राष्ट्रीय स्तर पर एस0सी0ई0आर0टी0, एन0सी0ई0आर0टी0 प्राचार्य
                सी0टी0आई प्रयागराज, शिक्षा अधिकारी, बेसिक प्रशिसनिक अधिकारियों (जिलाधिकारी, उपजिलाधिकारी, ज्वाइंट
                मजिस्टेट) एवं जनप्रतिनिधियो द्वारा विद्यालय निरीक्षण के समय उत्कृष्ट कार्य हेतु बच्चों एवं अध्यापको को
                सराहा गया है। गुणवत्ता पूर्ण शिक्षा शैक्षणिक गतविधियां तथा सहगामी क्रियाओ को नियमित संचालन से दूरस्थ
                क्षेत्र के बच्चे वस एवं निजी साधन से आकर विद्यालय में अध्ययन करते है। समय समय पर नामांकन हेतु जागरूकता
                रैली, पर्यावरण, मतदाता एवं एकता जागरूकता एवं अमृत महोत्सव रैली का आयोजन बैण्ड बाजे के साथ समुदाय के लोगो
                को जागरूक करने के लिये किया जाता है।
                समय-समय पर विद्यालय के बच्चों द्वारा प्रदेश सरकार के मन्त्री, मुख्यमन्त्री, राज्यपाल के समक्ष विभिन्न
                प्रस्तुति कर विद्यालय का गौरव बढ़ाया है। </p>
        </div>
    </div>
</div>